@model GorevAtama.Models.TBL_GOREV

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Edit - Görev Tablosu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <div class="col-md-1" style="float:left; margin-right:5px;">    
                <label>AD:</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1" style="float: left; margin-right: 5px;">
                <label>ZORLUK:</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZORLUK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZORLUK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1" style="float: left; margin-right: 5px;">
                <label>PERSONELID:</label>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("PERSONELID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PERSONELID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div style="margin-left:30px" >
                <input type="submit" value="Save" class="btn btn-success" style="margin-left:3px" />
                <a class="btn btn-primary" href="/Gorev/Index/"> Geri Dön</a>
            </div>
        </div>

    </div>


    
}


